<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Verify Email</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
  </head>
  <body>
    <ion-content>
      <ion-card color="success">
        <ion-card-header>
          <ion-card-title>Thank You for Verifing Your Email</ion-card-title>
        </ion-card-header>
        <ion-card-content> You may login to quran tracker now </ion-card-content>
      </ion-card>
    </ion-content>
  </body>
</html>
